/* Your styles go here */
.cite{
	border: 3px solid black;
	border-color: black;
	padding: 25px 25px 75px 50px;
	}
	.text{
	font-family: Avenir;
	font-weight: 450;
	font-size: 40px;
}
.quote{
	font-family: Courier;
	font-weight: 450;
	font-size: 20px;
}