body {
    background-color: #292929;
}

#content{
  display: none;
  width:100vw;
  height:100vh;
  position: fixed;
  z-index: 3;
  left:0;
  top:0;
}
#content.open{
  display: block;

}


#content-wrapper.open{
  filter:blur(8px);
  -webkit-filter:blur(8px);
}
#modal{
  position:fixed;
  top:35%;
  left:25%;
  z-index: 4;
  font-family: Avenir;
  font-weight: bold;
  font-size:20px;
  display: none;
  width:850px;
}

#modal.open{
  display: block;
}

.button{
    width: 200px;
    height:50px;
    position: absolute;
    align-content: left;
    right:85px;
    top:200px;
    z-index: 2;
    display:none;
}

.button.button-show {
  display: block;
}

.list{
  list-style: none;
  color:#747474;
  font-weight:500;

}

.list a{
  text-decoration: none;
  color:#747474;
  font-family: Avenir;
  font-size: 1.2vw;
  font-weight:500;
  align-content: left;
}
.list a:hover {
  color:red;
}
.list visited{
  color:#747474;
}

.list a:hover{
    font-size: 1.8vw;
}

a.button-img {
  position: absolute;
  display: block;
  right: 200px;
  width:180px;
  height:180px;
  right: 140px;
  top:40px;
  z-index: 2;
/*  position: absolute;
  right: 30px; */
}

a.button-img:hover {
  cursor: pointer;
}

.button-img img {
  position: relative;
  width:100%;
  height:auto;
}


.text{
    font-family: Avenir;
    font-size: 3vw;
    color: white;
    font-weight: 500; 
    position: relative;
    top: 30vw;
    left:60vw;
}

.text a,
.text a visited{
    color: white;
    text-decoration: none;
}

.text:hover{
    font-size: 5vw;
    top: 27vw;
    left:56vw;

}