body{
	background: mediumspringgreen;
}

h1 {
		font-family: "Helvetica", Arial Rounded MT Bold, monospace;
		background: mediumspringgreen;
		color: white;
		font-style: italic;
		font-size: 100px;
		line-height: 1em
	}

p {
		font-family: "Helvetica", monospace;
		font-size: 17px;
		line-height: 1em;
	}
a {
	background-color:red;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 5px 2px;
	cursor: pointer;
}

a:hover {
	transform: scale(1.5);
	box-shadow: 0px 0px 20px #000000;
}

li:hover{
	font-family: "Helvetica";
	font-style: bold;
	font-size: 30px;
	line-height: 2em;
	margin-right: 45px;
	background-color: white;
	display: inline-block;
	width: 90vw;
	height: 9vh;
}

.output ul li{
	
}


/*ul {
	list-style-type: none;
}*/