head{
}


body {
	background: pink;
}

h6 { color: white;
	font-size: 10px;
	 }

h5 { color: white;
	 font-size: 25px;
	 text-align: center;
	}

h4 { color: white;
	font-size: 40px;
	text-align: center;
	 }

h3 { color: white;
	font-size: 55px;
	text-align: center;
	 }
h2 { color: white;
	font-size: 70px;
	text-align: center;
	 }
h1 { color: white;
	font-size: 85px;
	text-align: center;
	 }

	 .dropdown {
    position:center;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: middle;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.button{
	position:center;
}
