
body {
  font-family: 'Roboto',sans-serif;  
  background-image: url("http://tto.ozyegin.edu.tr/sites/default/files/paperplane_0.gif");  
  background-repeat: no-repeat;
  background-size: cover;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

#container {
  margin: 0 auto;
  width: 400px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

h1 {
  background-color: #3556FB;
  margin: 0;
  padding: 10px;
  color:white;
  font-weight: normal;
  font-size: 30px;
}

.fa-plus {
  float: right;
}

input[type=text]{
  width: 100%;
  padding: 15px 15px 15px 20px;
  color: #154360;
  font-size: 25px;
  box-sizing: border-box;
  background-color: #ecf0f1;
  border: 3px solid rgba(0,0,0,0);
}

input:focus {
  border: 1px solid #154360;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

li:nth-child(2n){
  background-color: #ecf0f1;
}

span {
  width: 0px;
  color: #fff;
  background-color: #e74c3c;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  transition: 0.5s;
  opacity: 0.5;
}

li:hover span {
  width: 40px;
  transition: 0.5s;
  opacity: 1.0;
}


a:link {
    color: black ;
    background-color: transparent;
    text-decoration: none;
}