
#content{
  display: none;
  width:100vw;
  height:100vh;
  position: fixed;
  z-index: 3;
  left:0;
  top:0;
}
#content.open{
  display: block;

}


#content-wrapper.open{
  filter:blur(8px);
  -webkit-filter:blur(8px);
}
#modal{
  position:fixed;
  top:35%;
  left:25%;
  z-index: 4;
  font-family: Avenir;
  font-weight: bold;
  font-size:20px;
  display: none;
  width:850px;
}

#modal.open{
  display: block;
}


.button{
    width: 200px;
    height:50px;
    position: absolute;
    align-content: left;
    right:145px;
    top:190px;
    z-index: 2;
    display:none;
}

.button.button-show {
  display: block;

}

.list{
  list-style: none;
  color:red;
  text-align: center;
}

.list a{
  text-decoration: none;
  color:red;
  font-family: Avenir;
  font-size: 1.2vw;
  font-weight: bold;
  align-content: left;
}
.list a:hover {
   font-size: 1.4vw;
}

.list visited{
  color:red;
}

.pagenumber{
  font-size: 3.2vw;
  color:red;
  font-family: Avenir;
  font-size: 3vw;
  text-align: center;
  z-index:3;
  font-weight: bold;
} 
a.button-img {
  position: absolute;
  display: block;
  right: 200px;
  width:180px;
  height:180px;
  right: 140px;
  top:40px;
  z-index: 2;
/*  position: absolute;
  right: 30px; */
}

a.button-img:hover {
  cursor: pointer;
}

.button-img img {
  position: relative;
  width:100%;
  height:auto;
}
.text1 {
	font-family: Avenir;
    font-size: 1.5vw;
    font-weight: 450; 
    color: black;
    position: absolute;
    width: 400px;
    top:180px;
    left:170px;
}
.text2 {
	font-family: Avenir;
    font-size: 1.5vw;
    font-weight: 450; 
    color: black;
    text-align: right;
    width: 400px;
    position: relative;
    top:240px;
    left:170px;
}
.text3 {
	font-family: Avenir;
    font-size: 1.5vw;
    font-weight: 450; 
    color: black;
    width: 400px;
    position: relative;
    top:240px;
    left:170px;
}
.text4 {
	font-family: Avenir;
    font-size: 1.5vw;
    font-weight: 450; 
    color: black;
    text-align: right;
    width: 400px;
    position: relative;
    top:240px;
    left:170px;
}
.text5 {
	font-family: Avenir;
    font-size: 1.5vw;
    font-weight: 450; 
    color: black;
    text-align: justify;
    width: 350px;
    position: absolute;
    top:180px;
    left:760px;
}
.text6 {
	font-family: Avenir;
    font-size: 4.5vw;
    font-weight: bold; 
    color: black;
    text-align: justify;
    width: 550px;
    position: absolute;
    top:55vw;
    left:200px;
}
.text6:hover{
  font-size: 4.8vw;
}
.text7 {
	font-family: Avenir;
    font-size: 1.8vw;
    font-weight: 450; 
    color: black;
    text-align: justify;
    width: 450px;
    position: absolute;
    top:59vw;
    left:800px;
}

.text8 {
	font-family: Avenir;
    font-size: 9vw;
    font-weight: bold; 
    color: black;
    text-align: justify;
    width: 1090px;
    position: absolute;
    top:102vw;
    left:280px;
}
.text8:hover{
  font-size: 9.5vw;
}
.text9 {
	font-family: Avenir;
    font-size: 4vw;
    font-weight: bold; 
    color: black;
    text-align: justify;
    width: 1050px;
    position: absolute;
    top:125vw;
    left:200px;
}
.text9:hover{
  font-size: 4.3vw;
}
.text10 {
	font-family: Avenir;
    font-size: 1.8vw;
    font-weight: 450; 
    color: black;
    text-align: justify;
    width: 450px;
    position: absolute;
    top:151vw;
    left:800px;
}
.rectangle {
  height: 558px;
  width: 20px;
  background-color: black;
  position: absolute;
  top: 28vh;
  z-index: 2;
  left:45vw;
}

.rectangle1 {
  height: 1980px;
  width: 1440px;
  background-color:red;
  position: absolute;
  top: 760px;
}

.style7{
    position:absolute;
    left:5vw;
    font-family: Avenir;
    font-weight:500;
    text-decoration: none;
    font-size: 5vw;
    top:350vh;
    left:67vw;
    color:black;
    z-index: 4;
    }
.style7:hover{
  font-size: 6vw;
}