body {
    background-color: black;
}
.page1 {
    font-family: Avenir;
    font-size: 3.8vw;
    color: white;
    font-weight: 150;
}

.row,
.textleft,
.textright {
	white-space: nowrap;
}

.row {
	border-bottom: 0.5px solid white;
}

.textleft,
.textright {
	display: inline-block;
}

.textright{
	position: relative;
    left: 200px;

}

.textleftred {
	white-space: nowrap;
	color: red;
	display: inline-block;
}

.row:hover
{
font-size: 3.9vw;
}
.textleftred:hover{
font-size: 4.3vw;	
}

a,
a.visited {
	text-decoration: none; 
	color:red; 
}

