/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}

/* Your CSS goes here */
.tabletop{
    position: absolute;
    background-color: #c1e8f5;
    width: 40vw;
    height: 7vw;
    top:50vw;
    top: 20vw;
    left: 28vw;
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    z-index: 3;

}
.tablefront{
position: absolute;
    background-color: #91c0d0;
    width: 40vw;
    height: 4.5vw;
    top: 50vw;
    top: 27vw;
    left: 24vw;
    -webkit-transform: skew(-15deg);
  }
  .tableleft{
    position: absolute;
    background-color: #6aa2b5;
    width: 7.5vw;
    height: 10vw;
    top: 50vw;
    top: 28.4vw;
    left: 23.3vw;
    -webkit-transform: skewX(17deg) skewY(-49deg) rotate(-65deg);
  }
.tableright{
    position: absolute;
    background-color: #9ccada;
    width: 10.5vw;
    height: 11.1vw;
    top: 60vw;
    top: 25.2vw;
    left: 62.2vw;
    -webkit-transform: skewX(17deg) skewY(-49deg) rotate(-65deg);
  }

.vasetop{
      position: absolute;
    width: 7vw;
    height: 3vh;
    background: #d6d3c8;
    -moz-border-radius: 201px / 19px;
    border-radius: 69%;
    top: 18vw;
    z-index: 5;
    left: 48vw;
}

.vasebottom{
  position: absolute;
    border-bottom: 8vh solid #eae5d5;
    border-left: 1.5vh solid transparent;
    border-right: 1.5vh solid transparent;
    height: 0;
    width: 6.6vh;
    top: 19vw;
    left: 48vw;
    z-index: 4;
    transform: rotate(180deg);
}

.book-front{
    position: absolute;
    background-color: #124990;
    width: 8.8vw;
    height: 9vw;
    top: 13.4vw;
    left: 47.3vw;
    z-index: 4;
    -webkit-transform: skewX(20deg) skewY(-34deg) rotate(-65deg);
}

.book-binder{
position: absolute;
    background-color: #0b356b;
    width: 9.5vw;
    height: 1vw;
    top: 18.3vw;
    left: 42.8vw;
    z-index: 4;
    -webkit-transform: skewX(21deg) skewY(-25deg) rotate(-65deg);
}

.book-back{
  position: absolute;
    background-color: #2c63ab;
    width: 5.8vw;
    height: 5vw;
    top: 13.4vw;
    left: 46vw;
    -webkit-transform: skewX(16deg) skewY(-49deg) rotate(-65deg);
}

.book-page1{
  position: absolute;
    background-color: #adc2de;
    width: 8.8vw;
    height: 8vw;
    top: 13.8vw;
    left: 46.3vw;
    z-index: 3;
    -webkit-transform: skewX(20deg) skewY(-38deg) rotate(-65deg);
}

.book-page2{
      position: absolute;
    background-color: #a6b8d2;
    width: 8.8vw;
    height: 7.5vw;
    top: 14vw;
    left: 45.8vw;
    z-index: 2;
    -webkit-transform: skewX(20deg) skewY(-40deg) rotate(-65deg);
}

.book-page3{
     position: absolute;
    background-color: #b6c4da;
    width: 8.8vw;
    height: 7vw;
    top: 14.3vw;
    left: 45.4vw;
    z-index: 1;
    -webkit-transform: skewX(18deg) skewY(-43deg) rotate(-65deg);
}