@charset "UTF-8";
.leftcolumn-headline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
	font-weight: bold;
}

.leftcolumn-text {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 17px;
	color: #666666;
	padding-right: 5px;
}

.leftcolumn-textRED {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #FF0000;
	padding-right: 5px;
}


.footer-text {
	background-color: #999999;
	padding-top: 10px;
}

.bakery-copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	padding-right: 20px;
	text-align: left;
}
.shopnow-padding {
	padding-top: 20px;
	padding-left: 0px;
	text-align: left;
}


a.Link-footer:link 		{
	color: #000000;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-footer:visited 		{
	color: #000000;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-footer:hover 		{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-footer:active 		{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}






a.Link-footerON:link	{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}


a.Link-footerON:visited		{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-footerON:hover 		{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-footerON:active 		{
	color: #FFFFFF;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}





a.Link-leftsideNav:link 		{
	color: #666666;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
}

a.Link-leftsideNav:visited 		{
	color: #666666;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
}

a.Link-leftsideNav:hover 		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}

a.Link-leftsideNav:active 		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}



a.Link-leftsideNavON:link		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}

a.Link-leftsideNavON:visited		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}

a.Link-leftsideNavON:jhover		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}

a.Link-leftsideNavON:active		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 18px;
	font-weight: bold;
}



a.Link-textlink:link 	
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	text-decoration: underline;
	color: #000000;
}

a.Link-textlink:visited
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	text-decoration: underline;
	color: #000000;
}

a.Link-textlink:hover
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	text-decoration: underline;
	color: #666666;
}

a.Link-textlink:active	
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	text-decoration: underline;
	color: #666666;
}


a.Link-leftsidetextlink:link 	
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
	text-decoration: underline;
}

a.Link-leftsidetextlink:visited
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #000000;
	text-decoration: underline;
}

a.Link-leftsidetextlink:hover
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #666666;
	text-decoration: underline;
}

a.Link-leftsidetextlink:active	
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 17px;
	color: #666666;
	text-decoration: underline;
}




a.Link-MenuPDFs:link 		{
	color: #000000;
	font-size: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFs:visited 		{
	color: #000000;
	font-size: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFs:hover 		{
	color: #666666;
	font-size: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFs:active 		{
	color: #666666;
	font-size: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 14px;
	font-weight: bold;
}
.testimonials {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	font-style: italic;
	padding-right: 15px;
}
.recipe-headline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	padding-right: 20px;
	text-align: left;
	line-height: 21px;
}



a.Link-printrecipe:link 		{
	color: #000000;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-printrecipe:visited 		{
	color: #000000;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 17px;
	font-weight: bold;
}

a.Link-printrecipe:hover 		{
	color: #666666;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 17px;
	font-weight: bold;
}

a.Link-printrecipe:active 		{
	color: #666666;
	font-size: 11px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 17px;
	font-weight: bold;
}
.tips-bk {
	background-image: url(../maria/bk-tips.jpg);
	background-repeat: no-repeat;
	height: 522px;
	width: 549px;
	padding-top: 80px;
}
.tips-bodycopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	text-align: left;
	padding-right: 150px;
	padding-left: 150px;
}
.tips-headline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #999999;
	letter-spacing: 0.2em;
}
.tips-headline-month {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	letter-spacing: 0.2em;
}





a.Link-MenuPDFsMM:link 		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFsMM:visited 		{
	color: #000000;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFsMM:hover 		{
	color: #666666;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 14px;
	font-weight: bold;
}

a.Link-MenuPDFsMM:active 		{
	color: #666666;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-decoration: underline;
	line-height: 14px;
	font-weight: bold;
}
